.logo {
  height: 90%;
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo_letters {
  height: 90%;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.chart-container {
  position: relative;
  margin: auto;
  width: 80vw;
}
